@using CrudDbAccess.Dtos;
@using CrudDbAccess.Enums;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UpdateAccessDto
<div class="row">
    <h4 class="fw-bold">Update New Access</h4>

    <div class="col-12">
        <form class="form mb-5" asp-action="Update" asp-controller="Access" method="post">
            <div class="row">
                <div class="form-group">
                    <div>
                        <input class="form-label" asp-for="Id" type="hidden" value="@Model.Id" />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-label" asp-for="From.Address">FromAddress</label>
                        <input class="form-control" asp-for="From.Address" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-label" asp-for="Port">Port</label>
                            <input class="form-control" asp-for="Port" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-label" asp-for="To.Address">ToAddress</label>
                        <input class="form-control" asp-for="To.Address" />
                    </div>
                </div>

                <div class="col-sm-3 align-self-end">
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>

            </div>
        </form>
    </div>
    <div>
        <p>For visiting latest changes click <a asp-controller="Access" asp-action="List">here</a></p>
    </div>
</div>