@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 text-center">
        <h4 class="display-6 fw-bold mt-5">به پنل مدیریت دسترسی سرور های زیرساخت نرم افزار خوش آمدید</h4>





        <img src="~/images/undraw_Business_analytics_re_tfh3.png" />
    </div>
</div>

